@model blog.Models.PostVM.PostCreateVM

@{
    ViewBag.Title = "Edit";
}
@{
    Layout = "~/Views/Shared/_Layout_Post.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("post.PostId",Model.PostId)
    @Html.Hidden("post.Rowversion",Model.RowVersion)
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="ui fluid huge icon input" style="padding-top:2em">
            <input class="col-md-2" id="ui-input" autocomplete="off" autofocus="autofocus" name="post.Title" spellcheck="false" type="text" value="@Model.Title">
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="ui fluid icon input">
            <ul class="list-inline" id="detail">
                <li class="token-input-input-token">
                    <input class="col-md-2" type="text" autocomplete="off" autocapitalize="off" id="tag-input" style="outline: none; width: 80%;" placeholder="Tag">
                </li>
                @{ int i = 0; }
                @foreach (var itemList in Model.NameTag)
                {                     
                    <li>
                        <button class="btn btn-info"> @itemList</button>
                        <input type="hidden" name="post.NameTag[@i]" value="@itemList" />
                    </li>
                    i = i + 1;
                }
            </ul>
        </div>
    </div>

    <div class="field" >
        <div class="col-md-10"style="margin-top:1em">
            @Html.TextArea("post.BlogContent",Model.BlogContent, new { id = "textcontent", htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BlogContent, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="col-md-2 col-md-10">
            <input type="file" id="post.Image" name="file" accept="image/*">
        </div>

            <div class="col-md-2 col-md-10">
                <div id="button-upload">
                    <input type="submit" value="Update" class="ui circular large teal submit button" style="margin-top:1em" />
                </div>
            </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/myJavaScript")
    <script type="text/javascript">
    CKEDITOR.replace("textcontent");
    </script>
}
